<a href="https://colab.research.google.com/github/JacobHassan/ProjektPUM/blob/main/projekt_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [3]:
df = pd.read_csv(r'NY-House-Dataset.csv',sep=';',
                 index_col =  False,
                 on_bad_lines='skip')

# Display the DataFrame

In [5]:
headers = pd.read_csv(r'NY-House-Dataset.csv', sep=';',nrows=0)
header_names = headers.columns.tolist()

In [6]:
column_rename_dict = {old_name: new_name for old_name, new_name in zip(df.columns, header_names)}

# Zmień nazwy kolumn używając metody rename()
df.rename(columns=column_rename_dict, inplace=True)

In [7]:
str_col = ['BROKERTITLE', 'TYPE', 'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY', 'SUBLOCALITY', 'STREET_NAME' , 'LONG_NAME', 'FORMATTED_ADDRESS']
int_col = ['BEDS', 'BATH','PROPERTYSQFT']
float_col = ['PRICE']

In [8]:
df.shape

(4801, 17)

In [9]:
df.isna().any()

BROKERTITLE                    False
TYPE                           False
PRICE                          False
BEDS                           False
BATH                           False
PROPERTYSQFT                   False
ADDRESS                        False
STATE                          False
MAIN_ADDRESS                   False
ADMINISTRATIVE_AREA_LEVEL_2    False
LOCALITY                       False
SUBLOCALITY                    False
STREET_NAME                    False
LONG_NAME                      False
FORMATTED_ADDRESS              False
LATITUDE                       False
LONGITUDE                      False
dtype: bool

In [10]:
df[str_col] = df[str_col].apply(lambda x: x.astype(str))

In [11]:
df[int_col] = df[int_col].apply(lambda x: x.astype(int))

In [12]:
df[float_col] = df[float_col].apply(lambda x: x.astype(float))

In [ ]:
df.drop_duplicates(inplace = True)

In [13]:
df.loc[df['BATH'] <0]

Empty DataFrame
Columns: [BROKERTITLE, TYPE, PRICE, BEDS, BATH, PROPERTYSQFT, ADDRESS, STATE, MAIN_ADDRESS, ADMINISTRATIVE_AREA_LEVEL_2, LOCALITY, SUBLOCALITY, STREET_NAME, LONG_NAME, FORMATTED_ADDRESS, LATITUDE, LONGITUDE]
Index: []

In [14]:
df.loc[df['PRICE'] <0]

Empty DataFrame
Columns: [BROKERTITLE, TYPE, PRICE, BEDS, BATH, PROPERTYSQFT, ADDRESS, STATE, MAIN_ADDRESS, ADMINISTRATIVE_AREA_LEVEL_2, LOCALITY, SUBLOCALITY, STREET_NAME, LONG_NAME, FORMATTED_ADDRESS, LATITUDE, LONGITUDE]
Index: []

In [15]:
df.loc[df['BEDS']<0]

Empty DataFrame
Columns: [BROKERTITLE, TYPE, PRICE, BEDS, BATH, PROPERTYSQFT, ADDRESS, STATE, MAIN_ADDRESS, ADMINISTRATIVE_AREA_LEVEL_2, LOCALITY, SUBLOCALITY, STREET_NAME, LONG_NAME, FORMATTED_ADDRESS, LATITUDE, LONGITUDE]
Index: []

In [16]:
df.loc[df['PROPERTYSQFT']<0]

Empty DataFrame
Columns: [BROKERTITLE, TYPE, PRICE, BEDS, BATH, PROPERTYSQFT, ADDRESS, STATE, MAIN_ADDRESS, ADMINISTRATIVE_AREA_LEVEL_2, LOCALITY, SUBLOCALITY, STREET_NAME, LONG_NAME, FORMATTED_ADDRESS, LATITUDE, LONGITUDE]
Index: []

In [17]:
df['FORMATTED_ADDRESS'] = df['FORMATTED_ADDRESS'].apply(lambda x: x.replace('#', ''))

In [18]:
le = LabelEncoder()

In [19]:
columns_to_encode = ['TYPE', 'STATE', 'ADMINISTRATIVE_AREA_LEVEL_2', 'LOCALITY', 'SUBLOCALITY', 'STREET_NAME']

In [20]:
df[columns_to_encode] = df[columns_to_encode].apply(LabelEncoder().fit_transform)

In [21]:
df.to_excel('test.xlsx')

In [24]:

#num_columns = ['BEDS', 'BATH','PROPERTYSQFT', 'PRICE']

#for column in num_columns:
 #   df[column] = np.abs(df[column])
  #  Q1 = df[column].quantile(0.25)
   # Q3 = df[column].quantile(0.75)
    #IQR = Q3 - Q1
    #df = df.drop(df.loc[df[column] > (Q3 + 1.5 * IQR)].index)
    #df = df.drop(df.loc[df[column] < (Q1 - 1.5 * IQR)].index)

In [28]:

# Wybierz tylko kolumny numeryczne
numeric_columns = ['BEDS', 'BATH', 'PROPERTYSQFT', 'PRICE']
df_numeric = df[numeric_columns]

# Dopasuj skalowanie do kolumn numerycznych
scaler = preprocessing.StandardScaler().fit(df_numeric)

# Przekształć kolumny numeryczne
df_scaled = pd.DataFrame(scaler.transform(df_numeric), columns=numeric_columns)

# Zamień oryginalne kolumny numeryczne na przeskalowane
df[numeric_columns] = df_scaled